/* Set Parameters */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root{
    --clr-bgd:#808080;
    --clr-card: #252422;

    --clr-tag: #c19ab7;
    --card-width: 300px;
    --text-height: 1.2rem;
}

/* Set Body and Header */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bgd);
    color: whitesmoke;
    font-family: 'DM Mono', monospace;
    margin: 1rem;
}

.header h1 {
    text-align: center;
}


.card-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));;
}


.card {
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: var(--clr-card);
    box-shadow: 0 0 0.75rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.card-image {
    max-height: calc(9/16 * var(--card-width));
    aspect-ratio: 16/9;
}

.card-summary {
    overflow: hidden;
    line-height: var(--text-height); 
}
.card-summary::after {
    content: "..";
}


.card-details {
     /* Let the summary grow */
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.75rem;
}

.card-tags ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-tags li {
    display:  inline-block; 
    border-radius: 0.5rem;
    padding: 0.25rem;
    background: var(--clr-bgd);
    margin: 0.15rem;
    
}

.card-button {
 color: beige;
 font-style: italic;
}

/* Scroll To Top Button */

#scrollToTopBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0;
  }

